body {
    background-color: #FFF5E0;
}

#titulogrande {
    text-align: left;
    color: #FFF5E0;
    font-family: 'swis721 ex bt';
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li a{
    font-family: 'Arial';
    font-weight: bold;
    margin: 15px;
    color: #FFF5E0;
    padding: 10px;
}

.menu li a:hover{
    font-family: 'Arial';
    font-weight: bold;
    margin: 15px;
    color: blue;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #911919;
    border: 5px solid;
    border-color: white;
}

.sectionhistoria {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.articulohistoria {
    padding: 20px;
    margin: 30px;
    background-color: white;
    border: 2px solid;
    border-color: #911919;
    border-radius: 5%;
}

h2 {
    text-align: center;
    color: #911919;
    font-family: 'Arial';
    font-size: 25px;
    justify-content: space-around;
}

p {
    font-size: large;
    color: black;
    justify-content: space-between;
    text-align: center;
}

.imageninicio {
    text-align: center;
    margin: 30px 0px;
    padding: 0px 10px;
}

.imageninicio img {
    justify-content: space-between;
    width: 425px;
    height: 350px;
    border: 2px solid white;
    border-radius: 10px;
}

.footerinicio {
    background-color: #8b1515;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px 20px 20px;
    margin-top: 50px;
}

.footercolumna {
    flex: auto;
    min-width: 250px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.footercolumna h4 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: large;
}

.footercolumna p {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF5E0;
    font-size: small;
}

.footercolumna ul {
    padding: 0;
}

.footercolumna ul li {
    margin-bottom: 10px;
}

.footercolumna ul li a {
    color: #FFF5E0;
}

.footercolumna ul li a:hover {
    color: blue;
}

.legal {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 15px;
    font-size: small;
}

.pantalla{
    display: none;
}


/* COMPRA */

.tasacion {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.iniciotasacion {
    font-size: large;
    line-height: 1;
    margin-bottom: 30px;
    color: black;
}

.tablaprecios {
    width: 100%;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid #911919;
}


.tablaprecios td {
    padding: 15px;
    border: 1px solid #911919;
    text-align: center;
}

.tablaprecios th {
    padding: 15px;
    background-color: #911919;
    color: white;
    font-weight: bold;
}

.llamartasacion {
    margin-top: 30px;
    padding: 20px;
    background-color: #FFF5E0;
    border-radius: 8px;
}

.botontasacion {
    display: inline-block;
    background-color: #911919;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.botontasacion:hover {
    background-color: #5C0404;
}


/* NOSOTROS */

.contacto {
    max-width: 650px;
    margin: 40px auto;
    padding: 30px;
    background-color: #FFF5E0;
    border-radius: 8px;
}

.seccioncontacto h2 {
    text-align: center;
    color: #8b1515;
    margin-bottom: 15px;
}

.seccioncontacto p {
    text-align: center;
    margin-bottom: 25px;
    color: black;
    line-height: 5px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grupo label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
}

.grupo textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.grupo {
    width: 100%;
    padding: 12px;
    border: 3px solid white;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.radios p {
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
}

.radios label{
    font-weight: normal;
    margin-right: 20px;
}

.checkbox label {
    font-weight: normal;
    margin-right: 20px;
}

.checkbox input {
    margin-right: 10px;
}

.botonenviar {
    background-color: #911919;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

.botonenviar:hover {
    background-color: #5C0404;
}

/* VENTA */

.seccionventas {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.fraseventas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
    margin-bottom: 40px;
}

.cuadradoproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.producto {
    background-color: white;
    border: 1px solid #911919;
    border-radius: 8px;
    width: 250px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.producto:hover {
    background-color: #F0EEED;
}

.producto img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.producto h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #911919;
    font-size: large;
    margin-bottom: 10px;
}

.producto p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: small;
    line-height: 2;
    flex-grow: 1;
}

.precio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: black;
    flex-grow: 1;
}

.botoncompra {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color: #911919;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.botoncompra:hover {
    background-color: #5C0404;
}